


   
        <div class="formSec"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        >
            <div class="logInform" *ngIf="!isHavingAcc">
              <div class="card">
                <div class="card-body">
                    <form #logInForm="ngForm"  
                    (ngSubmit)="onLogIn(username.value,password.value)">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control"
                            placeholder="username"
                            ngModel
                            #username="ngModel"
                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                            required
                            >
                            <small class="text-white"
                            *ngIf="username.touched 
                            && username.invalid 
                            && username.hasError('required')">
                            This Field is required...
                            </small>
                            <small class="text-white"
                            *ngIf="username.touched 
                            && username.invalid 
                            && username.hasError('pattern')">
                            Mattern must matched...
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="pass">Password</label>
                            <input type="password" name="pass" id="pass" 
                            class="form-control"
                            placeholder="password"
                            pattern="(?=.*\d)(?=.*[\W_]).{7,}" 
                            title="Minimum of 7 characters. Should have at least one special character and one number."
                            ngModel
                            #password="ngModel"
                            required
                            >
                            <small class="text-white"
                            *ngIf="password.dirty 
                            && password.invalid 
                            && password.hasError('pattern')">
                                Minimum of 7 characters. Should have at least one special character and one number.
                            </small>
                        </div>
                        <div class="footerbtns">
                            <span class="mr-2">Not Having Account Yet ??</span>
                          <span>
                            <button class="btn btn-outline-success" type="button"
                            (click)="isHavingAcc = !isHavingAcc"
                            >
                                Create Account
                            </button>
                          </span>
                         <button mat-raised-button color="primary" 
                            type="submit" class="float-right"
                           [disabled]="logInForm.invalid"
                            >Log In</button>
                           
                        
                        </div>
                    </form>
                </div>
              </div>
            </div>

            <div class="signUpForm " *ngIf="isHavingAcc">
                <div class="card">
                    <div class="card-body">
                        <form #signUpForm="ngForm" (ngSubmit)="onSignIn()" >
                            <div class="form-group">
                                <label for="user">User Name</label>
                            <input type="email" name="user" id="user" class="form-control"
                            ngModel
                            #user="ngModel"
                            placeholder="Username"
                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                            required
                            >
                            <small *ngIf="user.touched 
                            && user.invalid 
                            && user.hasError('required')">
                                This field is Required...
                            </small>
                            <small *ngIf="user.dirty 
                            && user.invalid 
                            && user.hasError('pattern')">
                            "email" that must be in the following order: characters@characters.domain (characters followed by an @ sign, followed by more characters, and then a)
                            </small>
                            </div>
                            <div class="form-group">
                                <label for="pass">Password</label>
                                <input type="password" name="pass" id="pass" class="form-control"
                                ngModel
                                #pass="ngModel"
                                placeholder="password"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                >
                                <small *ngIf="pass.touched 
                                && pass.invalid
                                && pass.hasError('required')">
                                    This field is Required...
                                </small>
                                <small *ngIf="pass.dirty 
                                && pass.invalid
                                && pass.hasError('pattern')">
                                    Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters.
                                </small>
                            </div>
                            
                            <div class="form-group">
                                <label for="cpass">Confirm Password</label>
                                <input type="password" name="cpass" id="cpass" class="form-control"
                                ngModel
                                #cpass="ngModel"
                                placeholder="Confirm Password"
                                >
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-outline-info" type="button"
                                (click)="isHavingAcc = !isHavingAcc"
                                >
                                    Already Have Account 
                                </button>
                                <button class="btn btn-success"
                                type="submit"
                                >Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           </div>
   


