mat-sidenav-container{
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

mat-icon{
    cursor: pointer;
}
 a:hover{
    cursor: pointer;
    background-color: blue;
    color: #fff;
    text-decoration: none;
}

.navToolbar{
    display: flex;
    justify-content: space-between;
   
    .navItems a{
      
       margin-left: 15px;
       
    }
}